@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base 
{
  @font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa-VariableFont_wght.ttf"), url('./assets/fonts/Comfortaa-VariableFont_wght.ttf') format("truetype");

  }
}

#root {
  height: 100vh;
}